body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    color: #0066cc;
    margin-top: 50px;
}

p {
    color: #333333;
    font-size: 18px;
}

.container {
    background-color: white;
    width: 80%;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    border-radius: 10px;
}
